<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="stylesheet" href="../static/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Vibechecker</title>
</head>

<body id="name">
    <header>
        <div class="heading">
            <h1>Sophie</h1>
            <h3 class="phonetic">Freedom Fighter</h3>

            <div class="gif">
                <img class="profile-pic"
                    src="https://media2.giphy.com/media/oPGtw3RpxqIL1Gw5pg/giphy.gif?cid=ecf05e47ud0xzecyxpxobb3kbir3ynuzpm6vvaph4r23xukn&rid=giphy.gif&ct=g" />
            </div>

            <div class="vibe-check">
                Is it a vibe?
            </div>
        </div>
    </header>
    <main>
        <h2>
            Bio
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio convallis sagittis libero pellentesque integer
            tristique turpis. Aliquam fringilla ornare elit eu, imperdiet sit. Consectetur imperdiet vulputate massa
            iaculis egestas euismod.
        </p>
        <h2>
            Ranking
        </h2>
        <div class="skill">Studies</div>
        <div class="skill">Can swim</div>
        <div class="skill">Party animal</div>
        <div class="skill">Quiet Quitter</div>
        <div class="skill"></div>
        <div class="skill"></div>
        <div class="skill"></div>
        <div class="skill"></div>
    </main>
</body>

</html>